@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

body{
    background-color: #010FE0;
    color: white;
}

.container{
    background-color: #0056E0;
    border-radius: 10px;
    margin: auto;
    margin-top: 0;
    width: 540px;
    text-align: center;
    padding: 20px;
}

h1{
    background-color: #080ba8;
    width: 400px;
    border-radius: 15px;
    text-align: center;
    padding: 15px;
    margin: auto;
}
input{
    font: normal 20px arial;
    width: 200px
}
p{
    font: normal 20px arial;
    line-height: 5px;
}
div.btn{
    margin-top: 20px;
}

#res{
    background-color: #080ba8;
    border-radius: 15px;
    font-size: 30px;
    padding: 15px;
    margin-top: 20px;
}