@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

body{
    background-color: #000000;
    color: white;
}

.container{
    background-color: #2b2b2b;
    border-radius: 10px;
    margin: auto;
    margin-top: 0;
    width: 440px;
    height: 640px;
    text-align: center;
    padding: 20px;
    line-height: 50px;
}

h1{
    background-color: #1f1f1f;
    width: 300px;
    border-radius: 15px;
    text-align: center;
    padding: 15px;
    margin: auto;
}
input{
    font: normal 20px arial;
    width: 200px
}
p{
    font: normal 20px arial;
    line-height: 5px;
}
div.btn{
    margin-top: 20px;
}

#res{
    background-color: #1f1f1f;
    border-radius: 15px;
    font-size: 30px;
    padding: 15px;
    margin-top: 20px;
}